body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: navy;

}
div{
width: 980px;
margin: 0 auto;
text-align: center;
}
header{
width: 980px;
height: 120px;
background-color: gold;
}

nav{
    width: 980px;
    height: 80px;
    background-color: navy;
    color: gold;
    float: left;
}
section{
    float: left;
    width: 780px;
    height: 420px;
    background-color: lightgray;
}
article{
float: left;
width: 780px;
background-color: #eee;
border-bottom: 1px solid lightgrey;
min-height: 200px;
/*
min-height: Si la altura necesaria para mostrar los contenidos es inferior a la altura
minima se fuerza a que la altura del elemento sea igual qsue la altura minima.
*/
}
aside{
    float: right;
    width: 200px;
    height: 220px;
    background-color: salmon;
    border-bottom: 10px solid lightgrey;
    margin:auto;
}
footer{
    float: left;
    width: 980px;
    background-color: gold;
    height: 80px;
}
footer p{
    padding-left: 20px;
    margin:20px 20px; 
    
}